<div class="progress">
	<div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" style="width: 0%;">
		 0%
	</div>
</div>

<h1>プランの作成はとっても簡単です。</h1>
<h1>STEP1　まずはプランの基本情報を入力しましょう</h1>

<%= render 'form' %>

<%= link_to 'Back', plans_path %>
