<!DOCTYPE html>
<html>
<head>
  <title>Tripplan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqZxCbGeDhg2058AEQnTTmeFJGKQ63Vlk"
 type="text/javascript"></script>
<body>

<%= yield %>

</body>
</html>
